*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background: #2F9156;
  height: 80px;
  width: 100%;
}
.logo{
  width: 7%;
  padding-top: 3px;
}
@media (max-width: 1440px){
  .logo{
    width: 9%;
    padding-top: 4px;
  }
}
@media (max-width: 1024px){
  .logo{
    width: 12%;
    padding-top: 4px;
  }
}
@media (max-width: 768px){
  .logo{
    width: 17%;
    padding-top: 4px;
  }
}
@media (max-width: 425px){
  .logo{
    width: 30%;
    padding-top: 5px;
  }
}
@media (max-width: 375px){
  .logo{
    width: 35%;
    padding-top: 5px;
  }
}
@media (max-width: 320px){
  .logo{
    width: 35%;
    padding-top: 5px;
  }
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #41AE6C;
  transform: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 4px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px){
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1080px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #EAEAEA;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color: #2B4E35;
  }
  a.active,a:hover{
    background: none;
    color: #41AE6C;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 1600px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}

label[for*='5']:before {
  content: '\f1cb';
}

label[for*='6']:before {
  content: '\f1cb';
}

label[for*='7']:before {
  content: '\f1cb';
}

label[for*='8']:before {
  content: '\f1cb';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #41AE6C;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}